In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('saleries.csv')

In [3]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
df.shape

(16, 4)

In [5]:
inputs = df.drop("salary_more_then_100k",axis=1)
target = df['salary_more_then_100k']

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [8]:
inputs['le_company'] = le_company.fit_transform(inputs['company'])
inputs['le_job'] = le_company.fit_transform(inputs['job']) 
inputs['le_degree'] = le_company.fit_transform(inputs['degree']) 
inputs.head()

  company                  job     degree  le_company  le_job  le_degree
0  google      sales executive  bachelors           2       2          0
1  google      sales executive    masters           2       2          1
2  google     business manager  bachelors           2       0          0
3  google     business manager    masters           2       0          1
4  google  computer programmer  bachelors           2       1          0

In [9]:
inputs.drop(['company','job','degree'],axis=1,inplace=True)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test = train_test_split(inputs,target,test_size=0.1)

In [12]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [13]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [14]:
model.score(X_test,y_test)

1.0

In [15]:
model.predict([[2,2,0]])

array([0], dtype=int64)

In [21]:
X_train.shape

(14, 3)