In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('spam.csv')

In [3]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [4]:
df.isnull().sum()

v1    0
v2    0
dtype: int64

In [5]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.columns = ['Category','Message']

In [7]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
df['spam'] = df['Category'].apply(lambda x : 1 if x=='spam' else 0)

In [9]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.Message,df.spam,test_size=0.2)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(X_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [12]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [21]:
emails = [
    'Find Travel Buddies, See Nearby Travelers and Ask Locals About Destinations with 30%',
    'get upto 20% discount ',
    'excess all your money at one place only in $10'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1, 0], dtype=int64)

In [14]:
x_test_count = v.transform(X_test)
model.score(x_test_count,y_test)

0.9838565022421525

pipeline method

In [15]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorrizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [16]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorrizer', CountVectorizer()), ('nb', MultinomialNB())])

In [17]:
clf.score(X_test,y_test)

0.9838565022421525

In [18]:
clf.predict(emails)

array([0, 1], dtype=int64)